﻿@model MasteringMVC.Models.Recipe
    <tr>
        <td>
           Name:  @Html.DisplayFor(model => model.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.Price)
        </td>
        <td>
            @Html.DisplayFor(model => model.Time)
        </td>
        <td>
            @Html.DisplayFor(model => model.Image, "_ImageView")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=Model.RecipeID }) |
            @Html.ActionLink("Details", "Details", new { id=Model.RecipeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=Model.RecipeID })
        </td>
    </tr>
