﻿@model MasteringMVC.Models.Recipe
    <h2>@Html.DisplayFor(model => model.Name)
    <div class="box">
        <div class="rightboxcontent">
            <table border="0">
                <tr>
                    <td class="style1"><b>Price: </b></td>
                    <td>@Html.DisplayFor(model => model.Price)</td>
                </tr>
                <tr>
                    <td class="style1"><b>Cooking Time:</b></td>
                    <td>@Html.DisplayFor(model => model.Time)&nbsp;minutes</td>
                </tr>
            </table>
        </div>
        <div class="leftboximage">
            @Html.DisplayFor(model => model.Image, "_ImageView")
            </div>
    </div>
    <h3>Ingredients</h3>
        @foreach (var ingredient in Model.RecipeIngredients) { 
                @Html.DisplayFor(model => ingredient.Amount) 
                @Html.DisplayFor(model => ingredient.AmountType) 
            <br />
        }
    <h3>Instructions</h3>
        @foreach (var instruction in Model.RecipeInstructions.OrderBy(i=>i.Order)) { 
                @instruction.InstructionText
        }



@*    <asp:ListView ID="lstRecipeIngredients" runat="server">
        <LayoutTemplate>
            <ul style="list-style-type: none; margin: 15px">
                <asp:PlaceHolder ID="itemPlaceholder" runat="server" />
            </ul>
        </LayoutTemplate>
        <ItemTemplate>
            <li>
            </li>
        </ItemTemplate>
        <EmptyDataTemplate>
            <div>
                Sorry - no ingredients found
            </div>
        </EmptyDataTemplate>
    </asp:ListView>
    <asp:ListView ID="lstRecipeInstructions" runat="server">
        <LayoutTemplate>
            <ol>
                <asp:PlaceHolder ID="itemPlaceholder" runat="server" />
            </ol>
        </LayoutTemplate>
        <ItemTemplate>
            <li>
                <%#Eval("InstructionText") %>
            </li>
        </ItemTemplate>
        <EmptyDataTemplate>
            <div>
                Sorry - no instructions found
            </div>
        </EmptyDataTemplate>
    </asp:ListView>*@
    <br />
