﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
	<title></title>
	<link href="~/Content/Styles/Site1.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div id="container">
		<div id="masthead">
		<h1>The spaghetti code files</h1>
		<h3>Random recipes for failure</h3>
	</div>

		<div id="navigation">
		<ul>
			<li>@Html.ActionLink("Home", "Index", "Recipe")</li>
			<li>@Html.ActionLink("Search Recipes", "Search", "Recipe")</li>
			<li>@Html.ActionLink("I feel lucky", "Random", "Recipe")</li>
			<li>@Html.ActionLink("Weekly Menu", "WeeklyMenu", "Recipe")</li>
			<li>@Html.ActionLink("Top recipes", "Top", "Recipe")</li>
			<li>@Html.ActionLink("Contact Us", "ContactUs", "Recipe")</li>
		</ul>
	</div>
	
		<div id="content">
             @RenderBody()   
		</div>
		
		<div id="footer">
			<p><a href="Default.aspx">Home</a> | <a href="RecipeSearch.aspx">Search Recipes</a> |
			<a href="RandomRecipe.aspx">I feel lucky</a> | <a href="WeeklyMenu.aspx">Weekly Menu</a> 
			| <a href="TopRecipes.aspx">Top Recipes</a> |
			<a href="ContactUs.aspx">Contact Us</a> </p>
		</div>
	</div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", false)
</body>
</html>
