﻿@model MasteringMVC.Models.Recipe

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Price)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Price)
    @Html.ValidationMessageFor(model => model.Price)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Time)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Time)
    @Html.ValidationMessageFor(model => model.Time)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Image)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Image)
    @Html.ValidationMessageFor(model => model.Image)
</div>
