﻿@using (@Ajax.BeginForm(new AjaxOptions(){HttpMethod="Post", InsertionMode=InsertionMode.Replace, Url="Top", UpdateTargetId="resultDiv"})) { 

    <text>Search:</text>@Html.TextBox("searchTerm")

    <input type="submit" value="Search" />
}