﻿@model IEnumerable<MasteringMVC.Models.Recipe>

    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        @Html.DisplayFor(model => item, "RecipeTR")
    }

    </table>
