﻿@model IEnumerable<MasteringMVC.Models.Recipe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>

@Html.Partial("_Search")

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="resultDiv">
    @Html.Partial("_SearchResult", Model)
</div>
