﻿@import url("layout.css");
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	background-image: url("../images/bg-spaghetti.jpg");
	background-repeat: repeat;
	background-attachment: scroll;
}

.container {
	width: 620px;
	margin: 0 auto;
	padding: 10px;
	border-right: 2px solid #725972;
	border-bottom: 2px solid #725972;
	border-left: 2px solid #725972;
	background-color: #fff;
	margin-top:10px;
}

/* Header Styles */
header {
	text-align: center;
	width: 600px;
	padding: 10px;
	border: 1px dotted #725972;
	background-image: url("../images/masthead.gif");
	background-repeat: repeat;
	background-attachment: scroll;
}

header h1 {
	color: #fff;
}
header h3 {
	color: #402640;
}

nav {
	position: relative;
	float: left;
	width: 139px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-right: 1px dotted #725972;
}
.content {
	float: left;
	width: 470px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.footer {
	text-align: center;
	clear: both;
	width: 618px;
	border: 1px dotted #d8bfd8;
}
/* Navigation Styles */
nav ul {
	list-style-type: none;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
nav li {
	display: block;
	margin: 0;
	padding: 0;
	border: 1px dotted #dfb8df;
	background-color: #dfb8df;
}
nav a {
	color: #402640;
	text-decoration: none;
	display: block;
	padding: 5px;
	border-bottom: 1px dotted #fff;
	background-color: #dfb8df;
}
nav a:hover {
	color: #402640;
	text-decoration: none;
	background-color: #fff;
}
/* Content Styles */
nav h1,h2,h3,h4,h5,h6 {
	color: #503750;
}
nav img {
	padding: 5px;
	border: 1px solid #402640;
}
/* Footer Styles */
footer p {
	color: #808080;
}
footer a {
	color: #503750;
	text-decoration: underline;
}
footer a:hover {
	color: #402640;
	text-decoration: none;
}
a {
	color: #402640;
	text-decoration: underline;
}
a:hover {
	color: #dfb8df;
	text-decoration: underline;
}
.style_bold {
	font-weight: bold;
}
.style_italic {
	font-style: italic;
}

/* other styles */
.box
{
    border: thin dashed #C0C0C0;
    width:460px;
    margin-bottom:10px;
    height:160px;
}

.imagebox
{
    width:210px;
    margin-top:10px;
    margin-bottom:10px;
}

.contentbox
{
    width:220px;
    margin-top:10px;
    margin-bottom:10px;
}

.leftcontent {
    float: left;
    margin-left:10px;

}

.rightcontent {
    float: right;
    margin-right:10px;
}

.imagebox > img
{
    width:200px;
    height: 130px;
}

.bigbox
{
    border: thin dashed #C0C0C0;
    width:430px;
    margin-bottom:10px;
    padding:10px;
}
.recipelist li
{
	display:inline;
	float:left;
	margin-right:15px;
	border:thin dashed #C0C0C0;
	padding: 5px;
}
.recipelist
{
	margin-left:0px;
}
